<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095848737542-6rd1fonk94fnonllbjpfam7qcosqfp47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095848737542-6rd1fonk94fnonllbjpfam7qcosqfp47</string>
	<key>API_KEY</key>
	<string>AIzaSyDhmMLC68xVUx3zAnCm1KDJfmFdCfjHs8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1095848737542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yichi.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>fit5140-week06-lab-b7973</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-week06-lab-b7973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095848737542:ios:23f3a6f51fd557d283fc87</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-week06-lab-b7973.firebaseio.com</string>
</dict>
</plist>